@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/press-start-2p-v5-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'),
  url('../fonts/press-start-2p-v5-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/press-start-2p-v5-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/press-start-2p-v5-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/press-start-2p-v5-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/press-start-2p-v5-cyrillic_latin-regular.svg#PressStart2P') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-mono-v4-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Mono'), local('PTMono-Regular'),
  url('../fonts/pt-mono-v4-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/pt-mono-v4-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/pt-mono-v4-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/pt-mono-v4-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/pt-mono-v4-cyrillic_latin-regular.svg#PTMono') format('svg'); /* Legacy iOS */
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: 'PT Mono', Lucida Console, Monaco, monospace;
  font-size: 20px;
  color: #fff;
  margin: 0 auto;
  min-width: 1024px;
  background: url('../img/ground-background.jpg') repeat, #4c3428;
}

h1,
h2 {
  font-family: 'Press Start 2P', 'PT Mono', Lucida Console, Monaco, monospace;
  text-align: center;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.72);
}

input:active,
button:active,
a:active {
  outline: 0;
  outline-offset: 0;
}

.btn {
  font-family: 'Press Start 2P', 'PT Mono', Lucida Console, Monaco, monospace;
  font-weight: bold;
  font-size: 14px;
  line-height: 36px;
  background: transparent;
  margin-top: 40px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 6px;
  transition: 0.2s;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}

.btn:active {
  transform: scale(0.97);
}

.header {
  background: #2b5cfc;
  background: linear-gradient(180deg, #0000ff, #94c6fd);
  border-bottom: solid 8px #4c3428;
  padding-top: 80px;
  position: relative;
  text-align: center;
}

.clouds {
  background: url('../img/clouds.png') top center repeat-x;
  height: 363px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  background-position-x: 0;
}

.tower {
  background: url('../img/tower.png') no-repeat;
  bottom: -13px;
  left: 42%;
  margin-left: -400px;
  position: absolute;
  width: 162px;
  height: 335px;
  background-size: contain;
  z-index: 100;
}

.tower::after {
  content: '';
  width: 33px;
  height: 30px;
  background: url('../img/eye.png');
  background-size: contain;
  position: absolute;
  top: 0;
  left: 65px;
  -webkit-animation: fade-out 1s;
  animation: fade-out 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.tree {
  background: url('../img/tree.gif') no-repeat;
  bottom: 0;
  height: 137px;
  left: 50%;
  margin-left: 300px;
  position: absolute;
  width: 120px;
  z-index: 100;
}

.header__soon {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Press Start 2P', 'PT Mono', Lucida Console, Monaco, monospace;
  font-size: 22px;
  position: relative;
  z-index: 1;
}

.header__title {
  font-size: 40px;
  margin: 20px 0 28px;
  padding: 0;
  position: relative;
  z-index: 1;
}

.header__description {
  font-size: 20px;
  line-height: 1.2;
  margin: 0 auto;
  position: relative;
  width: 620px;
  z-index: 1;
}

.demo {
  height: 300px;
  margin: 0 auto;
  width: 700px;
  position: relative;
}

.demo::after {
  content: '';
  width: 100px;
  height: 25px;
  background: url('../img/lifes.png') no-repeat top center;
  background-size: contain;
  position: absolute;
  top: 0;
  right: -81px;
  opacity: 0.9;
}

.gollum {
  background: url('../img/gollum.png');
  width: 80px;
  height: 80px;
  background-size: contain;
  position: absolute;
  top: -73px;
  right: -6px;
}

.wizard {
  background: url('../img/wizard.gif') no-repeat;
  width: 61px;
  height: 84px;
  position: absolute;
  bottom: 5%;
  left: 21%;
  transition: 0.4s;
  transition-timing-function: linear;
  z-index: 50;
}

.wizard-reversed {
  background: url('../img/wizard-reversed.gif') no-repeat;
}

.fireball {
  width: 24px;
  height: 24px;
  background: url('../img/fireball.gif');
  position: absolute;
  top: -7%;
  left: 69%;
  -webkit-animation: rotate 1s;
  animation: rotate 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: 0.2s ease-in;
}

.fireball-reversed {
  left: -4%;
}

.demo__description,
.demo__game-over {
  background: #fff;
  position: absolute;
  right: 14%;
  bottom: 35%;
  width: 320px;
  padding: 5px;
  box-shadow: 7px 10px 0 rgba(0, 0, 0, 0.6);
  transform: skew(-9deg);
}

.demo__description::after {
  content: '';
  position: absolute;
  bottom: 17px;
  left: -51px;
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 35px solid #fff;
  border-top: 25px solid transparent;
}


.demo__description_text {
  color: #000;
  font-size: 16px;
}

main {
  background: url('../img/ground-background.jpg') repeat;
  padding-top: 80px;
}

.main-section {
  box-sizing: border-box;
  margin: 0 auto 60px;
  padding: 10px;
  background-color: rgba(19, 25, 255, 0.82);
  border-radius: 30px;
}

.main-section__title {
  font-size: 30px;
  margin: 0 auto;
  padding: 0;
}

.photogallery {
  padding: 30px 10px;
  position: relative;
  text-align: center;
  width: 1000px;
}

.photogallery__title {
  margin-bottom: 35px;
}

.photogallery__image-box {
  border: 0;
  box-shadow: 7px 10px 0 rgba(0, 0, 0, 0.30), 0 0 20px rgba(255, 255, 190, 0.3);
  display: inline-block;
  height: 271px;
  width: 292px;
  margin: 21px 8px;
  overflow: hidden;
}

.photogallery__image  {
  height: 100%;
}

.reviews {
  box-sizing: border-box;
  width: 1000px;
  padding: 50px;
}

.reviews__title {
  margin-bottom: 30px;
}

.reviews-filter {
  margin-bottom: 60px;
  white-space: nowrap;
  text-align: center;
  border: dotted 2px #fff;
  padding: 10px;
  border-radius: 5%;
}

.reviews-filter__item {
  background: transparent;
  color: #fff;
  font-family: 'Press Start 2P', 'PT Mono', Lucida Console, Monaco, monospace;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  margin-right: 50px;
  vertical-align: middle;
  padding: 5px;
}

.reviews-filter input {
  opacity: 0;
  position: absolute;
}

input[type=radio]:checked + .reviews-filter__item {
  background: #fff;
  border-bottom: solid 2px;
  box-shadow: 3px 3px 0 #000;
  color: #000;
  cursor: auto;
  line-height: 36px;
  margin-left: -15px;
  margin-right: 35px;
  padding: 0 15px;
}

.reviews-list {
  padding-left: 54px;
}

.reviews-list__loading,
.reviews-load__failure {
  text-align: center;
  padding-bottom: 40px;
}

.reviews-list__loading::after {
  content: 'Загрузка...';
}

.reviews-load__failure::after {
  content: '';
  background: url('../img/icon-cross.png') no-repeat center;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.review {
  font-size: 17px;
  line-height: 1.4;
  margin-bottom: 75px;
  padding-left: 155px;
  position: relative;
}

.review__text {
  width: 590px;
}

.review-load__failure .review__author {
  visibility: hidden;
}

.review-load__failure .review__author::after {
  background: url('../img/icon-cross.png') center no-repeat;
  bottom: 0;
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  content: '';
  display: block;
  opacity: 0.4;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  visibility: visible;
}

.review__rating {
  background: url('../img/icon-heart.png') top left repeat-x;
  display: block;
  height: 30px;
}

.review__rating[data-like="1"] {
  width: 30px;
}

.review__rating[data-like="2"] {
  width: 60px;
}
.review__rating[data-like="3"] {
  width: 90px;
}
.review__rating[data-like="4"] {
  width: 120px;
}
.review__rating[data-like="5"] {
  width: 150px;
}

.review__author {
  border-radius: 50%;
  height: 124px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 124px;
}

.review__quiz {
  color: #fff;
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
}

.review__quiz-answer {
  border: none;
  background: transparent;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'PT Mono', Lucida Console, Monaco, monospace;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  text-decoration: underline;
  vertical-align: middle;
}

.review__quiz-answer_check {
  color: #ffff00;
  outline: none;
}

.review__quiz-answer:active {
  outline: hidden;
  color: #2b5cfc;
}

.review__quiz-answer:hover {
  color: rgba(255, 255, 255, 1);
}

.review__quiz-answer-active {
  color: #fff;
  cursor: default;
  text-decoration: none;
}

.reviews-controls {
  text-align: center;
}

.reviews__btn_more {
  background: #fff;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 1);
  color: #000;
  font-weight: bold;
  line-height: 26px;
  margin-right: 26px;
  border: 2px solid #fff;
}

.reviews__btn_add {
  border: solid 1px #fff;
  font-size: 14px;
  line-height: 26px;
  margin-top: 0;
}

.footer {
  color: #000;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.footer p {
  margin-bottom: 0;
  padding-bottom: 20px;
}

.footer__link {
  color: #fff;
}

.overlay-review-form,
.overlay-gallery {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.review-form {
  margin: 100px auto;
  padding: 0 10px;
  position: relative;
  text-align: left;
  width: 510px;
}

.review-form__title {
  font-size: 22px;
  text-align: left;
}

.gallery__btn_close,
.review-form__btn_close {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 45px;
  padding: 0 10px;
  position: absolute;
  right: 0;
  text-align: center;
  top: -5px;
  color: #fff;
}

.review-form__btn_close {
  top: -17px;
}

.review-form__group {
  border: 0;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.review-form__group_mark input[type=radio] {
  position: absolute;
  visibility: hidden;
}

.review-mark__label {
  color: #fff;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}

input[type=radio]:checked + .review-mark__label {
  background: #fff;
  border-radius: 0;
  color: #000;
  margin: 0;
  padding: 0 10px;
}

.review-form__label {
  font-size: 20px;
  line-height: 1.6;
}

.review-form__field {
  background: #fff;
  border: 0;
  color: #000;
  font: 20px/1.5 'PT Mono';
  padding: 5px;
}

.review-form__field_name {
  width: 15em;
}

.review-form__controls {
  white-space: nowrap;
}

.review-form-control {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.review__btn_submit {
  background: #fff;
  border: 0;
  margin-right: 20px;
  padding: 0 16px;
  color: #000;
}

.review__fields {
  color: #fff;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  white-space: normal;
}

.review__fields_label {
  cursor: pointer;
  text-decoration: underline;
}

.overlay-gallery {
  text-align: center;
}

.overlay-gallery img {
  width: auto;
  max-height: 550px;
}

.overlay-gallery__controls {
  margin: 100px 0;
}

.overlay-gallery-control {
  background: url('../img/arrows-sprite.png') no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 46px;
  vertical-align: middle;
  width: 30px;
}

.overlay-gallery-control_right {
  background-position: -30px 0;
}

.overlay-gallery__preview {
  display: inline-block;
  min-height: 300px;
  min-width: 300px;
  position: relative;
  vertical-align: middle;
}

.overlay-gallery__preview-number {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  left: 0;
  position: absolute;
  top: -1.5em;
}


/*Animation*/

.float {
  -webkit-animation: float 1.6s;
  animation: float 1.6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@-webkit-keyframes float {
  0%, 100% {
    -webkit-transform: translateY(0);  }
  50% {
    -webkit-transform: translateY(-20px);
  }
}

.rotate {
  -webkit-animation: rotate 1s;
  animation: rotate 1s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.slide-out-right {
  -webkit-animation: slide-out-right 3s;
  animation: slide-out-right 3s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(2000px);
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(2000px);
  }
}

.slide-out-left {
  -webkit-animation: slide-out-left 3s;
  animation: slide-out-left 3s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-2000px);
  }
}

@keyframes slide-out-left {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-2000px);
  }
}

.fade-out {
  -webkit-animation: fade-out 5s;
  animation: fade-out 5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}


/*Вспомогательные классы*/

.invisible {
  display: none !important;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}